html{
    padding: 0;
    margin: 0;
    font-family: 'Bree Serif', serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgb(243, 239, 239);
}

article{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    top: 0;
    bottom: 0;
    left: 0;
}
article h1 {
    font-size: 30px;
    margin-top: 0;
    padding: 0;
}

article h2{
    color:  rgb(0, 89, 223);
    font-size: 20px;
}

article p{
    text-align: center;
    font-size: 18px;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 15px;
    padding-right: 15px;
}
.login{
    color: white;
    background-color: rgb(0, 77, 192);
    padding-top: 5px;
    padding-bottom: 5px;
    display : block;
}

.cadastro{
    color: white;
    background-color: rgb(0, 77, 192);
    padding-bottom: 5px;
    padding-top: 5px;
    display : none;
}

.joystick{
    margin: 0;
    padding: 0;
    width: 200px;
}

label{
    font-size: 18px;
}

input{
    font-family: 'Bree Serif', serif;
    font-size: 16px;
    padding: 8px;
    outline: none;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    border: 2px solid  rgb(0, 77, 192);
}

input:focus{
    border: 2px solid  rgb(0, 77, 192);;
}

input:valid[type = email], input:valid[type = password]{
    border: 2px solid rgb(0, 255, 13);
}

input[type = email], input[type = text], input[type = password]{
    width: 275px;
}

input[type = submit]{
    background-color:  red;
    color: white;
}

button{
    font-family: 'Bree Serif', serif;
    font-size: 16px;
    display: inline;
    background:transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    color: white;
}

button:focus{
    outline-style: none;
}

footer{
    text-align: center;
}

footer button{
    text-align: center;
    font-size: 18px;
    color: rgb(0, 89, 223);
    text-decoration: none;
    display: inline;
}

footer button:hover{
    color: red;
}
